VITE_APP_NAME=TechTactics Portal
VITE_BACKEND_API_BASE_URL=https://portalappsail-10124080596.development.catalystappsail.com/api
VITE_ZOHO_REDIRECT_URI=https://your-catalyst-client-domain.example.com/#/login
